.ModalBackground {
    display: flex;
    justify-content: space-evenly;

    z-index: 10;
    top: 0px; left: 0px; right: 0px; bottom: 0px;
    position: fixed;
    width: 100wh;
}

.Modal {
    position: fixed;
    background-color: rgb(13, 17, 23);
    z-index: 100;
}
