.Period{
    position: relative;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    background-color: #363062;
    border-radius: 2px;
}

.ResizeHandle{
    position: absolute;
    width: 100%;
    height: 5%;
    cursor: s-resize;
}

.MoveHandle{
    position:absolute;
    top: 5%;
    height: 90%;
    width: 100%;
    cursor: move;
}

.PeriodName{
    z-index: 2;
    color: white;
    font-size: medium;
    margin: auto;
}