.Header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px 20px 20px 20px;
	background-color: var(--primary-color);
	border-bottom: solid 2px var(--border-color);
}

.Header *{
	margin: 0px;
}

.Logo{
	color: #bb474f;
	font-size: x-large;
	font-weight: bold;
}

.NavItemsWrapper{
	display: flex;
	flex-direction: row;
	list-style: none;
	gap: 35px;
	padding: 0px;
}
